<div class="container">
    <div class="row mt-3">
        <div class="col-6">
            <img [src]="movie.Poster">
        </div>

        <div class="col-6 ">
            <div class="card text-center ">
                <div class="card-header ">{{movie.Title}}</div>
                <div class="card-body ">
                    <h5 class="card-title text-danger ">Plot</h5>
                    <p class="card-text ">{{movie.Plot}}</p>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item text-danger ">Rating</li>
                    <li class="list-group-item ">{{movie.Ratings[0].Value}} <i class="fa fa-star "></i></li>
                    <li class="list-group-item text-danger ">Director</li>
                    <li class="list-group-item ">{{movie.Director}}</li>
                </ul>
                <div class="card-body ">
                    <a *ngIf="isLogged == true" (click)="addToFav()" class="card-link btn btn-success">Añadir favorito</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="movieExist" class="alert alert-danger fixed-bottom text-center" role="alert">
        Esta pelicula ya esta añadida a tus favoritos
    </div>
    <div *ngIf="movieCorrect" class="alert alert-success fixed-bottom text-center" role="alert">
        Pelicula Añadida Correctamente
    </div>
    <button class="btn btn-danger mt-3" [routerLink]="['']">Atras</button>
</div>