<div class="container">
    <div class="row">

        <div *ngFor="let movie of movies" class="mt-3 col-4">
            <div class="card">
                <img class="card-img-top " [src]="movie.Poster ">
                <div class="card-body ">
                    <h5 class="card-title ">{{movie.Title}}</h5>
                    <p class="card-text ">{{movie.Plot}}</p>
                </div>
                <div class="card-body ">
                    <a class="card-link btn btn-secondary" (click)="toDetails(movie.Title)">Información</a>
                    <a class="card-link btn btn-primary " [routerLink]="[ '/cartelera', movie.Title] ">Favoritos</a>
                </div>
            </div>

        </div>



    </div>
</div>