<ng-template #content let-modal>
    <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
        <h1 class="h3 mb-3 font-weight-normal text-center mt-2">Register</h1>

        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="name" required maxlength="50">
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required minlength="8">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.minlength">Email must be at least 8 characters</div>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" required minlength="5" maxlength="10">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 5 characters</div>
        </div>
        <hr>


        <button type="submit" [disabled]="!formRegister.form.valid" class="btn btn-lg btn-secondary btn-block">Register</button>


    </form>
</ng-template>

<button class="form-control login-user" (click)="registerModal(content)">¿No tienes cuenta aun?</button>